<?xml version="1.0"?>
<zone>
    <name>system</name>
    <description>System zone</description>
    <rooms>
        <room id="square">
            <name>Городская площадь</name>
            <description>
                Шумная городская площадь, жизнь на которой не затихает даже ночью. Западнее располагается
                рынок, а на другой стороне площади виднеется монументальная арка. В центре площади располагается фонтан,
                около которого горожане что-то бурно обсуждают. Улица отходит на север и юг.
            </description>
            <exits>
                <north>street</north>
                <east>arc</east>
                <south>crossroads</south>
                <west>market</west>
            </exits>
        </room>

        <room id="crossroads">
            <name>Шумный перекресток</name>
            <description>
                Перекресток городских дорог, пересекающих город во всех направлениях словно вены и артерии на теле
                великана. На севере виднеется оживленная и днем и ночью площадь.
            </description>
            <exits>
                <north>square</north>
            </exits>
        </room>

        <room id="market">
            <name>Рынок</name>
            <description>
                В переулке между массивными зданиями развернулась палаточная торговля. Торговцы всех мастей предлагают
                разнообразные товары всем имеющим набитый звонкими монетами кошелек.
            </description>
            <exits>
                <east>square</east>
            </exits>
        </room>

        <room id="arc">
            <name>Монументальная арка</name>
            <description>
                По обе руки, на пять метров к небу восходят своды блестящей на солнце мраморной арки. Она была возведена
                в честь победы империи в одном из последних походов на варварские земли.
            </description>
            <exits>
                <west>square</west>
            </exits>
        </room>

        <room id="street">
            <name>Городская улица</name>
            <description>
                Чистая улица вымощена мрамором, а бордюр выполнен в красном камне. По сторонам улицы, стена к стене
                располагаются похожие друг на друга богатые здания. К некоторым зданиям лестницы поднимаются прямо на
                второй
                этаж.
            </description>
            <exits>
                <south>square</south>
            </exits>
        </room>
    </rooms>
</zone>
